* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f1ee8e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ece75f;
} */